.food{
     @include flex(space-between);
     @include padding;
     flex-wrap: wrap;
    gap: 3.2rem;
     &__info{
        width: 60%;
        h2{
            @include font_1($fs:3.6rem, $fw:600, $lh:5.4rem);
            color: $primary_color;
         }

        p{
            @include font_2(1.8rem, 400, 2.7rem);
            @include paragraphM;
            color: $secondary_color;
        }
     }
     &__img{
        width: 30%;
        img{
            width: 100%;
        }
     }
}