.contact{
    @include flex;
    @include padding;
    &__info{
        width: 34%;
        border: 1px solid red;
        h4{
            @include font_2;
            color: #424F7B;
            margin-bottom: 1.2rem;
        }
        h2{
            @include font_1($fs:3.6rem, $fw:600, $lh:5.4rem );
            color: $primary_color;
            font-family: 'Montserrat', sans-serif;
        }
        p{
            @include font_2;
            color: $secondary_color;
            @include paragraphM;
        }
        .btnn{
            @include flex;
            gap: 2.4rem;
        }
        button{
            @include btn;
            @include font_2;
        }
        span{
            @include font_2;
        }
    }
    &__acardion{
        width: 60%;
        border: 1px solid red;

        
    }
}